<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>link}}
    {{{_sections.css}}}
</head>
<body>
    <div id="wrapper">
    {{>header}}

    {{>nav}}

    {{{body}}}

    {{>footer}}
    </div>
    {{{_sections.script}}}
</body>
</html>